<h1>Welcome to Friends!</h1>
<br>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	<% @friends.each do |friend|%>
    <tr>
      <th scope="row"><%= friend.id %></th>
      <td><%= friend.first_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.age %></td>
      <td><%= friend.email %></td>
      <td><%= link_to "details", friend, class:"btn btn-secondary"%></td>
      <td><%= link_to "edit", edit_friend_path(friend), class:"btn btn-secondary" %></td>
    </tr>
     <% end %>
  </tbody>
</table>

<%= link_to "new friend", new_friend_path, class:"btn btn-secondary"%>
