<div class="text-bg-light p-3">
	<h4>First Name: <%= @friend.first_name %></h4>
	<h4>Last Name: <%= @friend.last_name %></h4> 
	<h4>Age: <%= @friend.age %></h4>
	<h4>Email: <%= @friend.email %></h4>
</div>
<br>

<%=link_to "back", friends_path, class: "btn btn-secondary"%>
<br>
<br>

<%= link_to "Destroy", friend_path(@friend), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>